*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px 35px;
}

.head{
    align-items: center;
    font-family: 'ubuntu', sans-serif;
    font-weight: bolder;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    margin: 10px;
    font-size: 3em;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
.publish{
    position: relative;
    display: flex;
    justify-content: center;
}

.publish-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    border-radius: 45px;
    padding: 0px 14px;
    height: 39px;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
    position: absolute;
    top: 25px;
    font-family: 'ubuntu', sans-serif;
}